<h1><%= @article.name %></h1>
<%= @article.content %>
<br/>

<% @article.comments.each do |c| %>
  <ul class="the-icons clearfix">
    <li style="list-style: none;">
      
      <a class="user_avatar" href="#" data-toggle="tooltip" title="<%= c.user.email %>"><i class="icon-user"></i></a>
    </li>
  </ul>
  &nbsp;<%= c.comment %> <br/>
<% end %>
<% if current_user %>
  <%= render :partial => "/articles/box/comment" %>
<% end %>
<p>
  <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Browse Articles", articles_path %>
</p>
<script>
  $('a.user_avatar').tooltip();
</script>