<h1><%= @article.name %></h1>
<%= @article.content %>
<br/>
<% @article.comments.each do |c| %>
  <%= c.user.email %>&nbsp;<%= c.comment %> <br/>
<% end %>
<% if current_user %>
  <%= render :partial => "/articles/box/comment" %>
<% end %>
<p>
  <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Browse Articles", articles_path %>
</p>
