<a href="javascript:;" id="queryid">Browse all posts</a><br/>

<h1>Articles</h1>

<div id="articles">
</div>


<script type="text/javascript">
  function callbackName(){
    //alert('asdf');
  }
  $(document).ready(function(){
    $('#post_newid').click(function(){
      $.ajax({
        url: "http://localhost:3000/api/articles",
        dataType: 'json',
        type : 'POST',
        crossDomain: true,
        jsonpCallback: "callbackName",
        data: {
          access_token: '<%= session[:auth_token] %>',
          name: "name",
          content: 'api'
        },
        beforeSend: function (xhr, settings) {
          xhr.withCredentials = true;
          xhr.setRequestHeader('Authorization', 'Bearer <%= session[:auth_token] %>');
        },
        success: function(data) {
          alert('query xong');
          console.dir(data);
          console.log('a == '+data.article.content);

        }
      });
    });

    function Prepare(val,sid){
      $('#comment_box_'+sid).val('');
      $.ajax({
        url: "http://localhost:3000/api/articles/comment",
        dataType: 'json',
        type : 'POST',
        crossDomain: true,
        jsonpCallback: "callbackName",
        data: {
          access_token: '<%= session[:auth_token] %>',
          id: sid,
          comment: val
        },
        beforeSend: function (xhr, settings) {
          xhr.withCredentials = true;
          xhr.setRequestHeader('Authorization', 'Bearer <%= session[:auth_token] %>');
        },
        success: function(data) {
          $('#comment_box_'+sid).before('<div class="alert">'+data.comment.comment+'</div>');
        }
      });
    }
    function GetComments(sid){
      $.ajax({
        url: "http://localhost:3000/api/articles/comments",
        dataType: 'json',
        type : 'GET',
        crossDomain: true,
        jsonpCallback: "callbackName",
        data: {
          access_token: '<%= session[:auth_token] %>',
          id: sid
        },
        beforeSend: function (xhr, settings) {
          xhr.withCredentials = true;
          xhr.setRequestHeader('Authorization', 'Bearer <%= session[:auth_token] %>');
        },
        success: function(data) {
          for (i=0;i<data.comments.length;i++){
            $('#comment_box_'+sid).before('<div class="alert alert-success">'+data.comments[i].comment+'</div>');
          }
          
        }
      });
    }
    
    $('#queryid').click(function(){
      $.ajax({
        url: "http://localhost:3000/api/articles",
        dataType: 'jsonp',
        type : 'GET',
        crossDomain: true,
        jsonpCallback: "callbackName",
        data: {
          access_token: '<%= session[:auth_token] %>'
        },
        beforeSend: function (xhr, settings) {
          xhr.withCredentials = true;
          xhr.setRequestHeader('Authorization', 'Bearer <%= session[:auth_token] %>');
        },
        success: function(data) {
          $('#articles').html('');
          for (i=0;i<data.articles.length;i++){
            var id = data.articles[i].id;
            $('#articles').append("<h2>"+data.articles[i].name+"</h2>"+"<div class='content'>"+data.articles[i].content+"</div><input type='text' placeholder='Comment' id='comment_box_"+id+"'/><div class='btn' id='comment_"+id+"'>Comment</div><div class='btn' id='showcomment_"+id+"'>Show Comment</div>")
            $('#comment_'+id).click(function(){
              var this_id = $(this).attr('id').split('_')[1];
              Prepare($('#comment_box_'+this_id).val(),this_id);
            });
            $('#showcomment_'+id).click(function(){
              var this_id = $(this).attr('id').split('_')[1];
              GetComments(this_id);
            });
          }

        }
      });
    });
    
  });
  
</script>